{% extends "layout.html" %}

{% block rnnlabtop %}
    <form action="{{ url_for('get_stats') }}" id="form-flavors"></form>
    <form action="{{ url_for('get_stats') }}" id="form-hostnames"></form>
    <div class="rnnlab-top-text-float">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">Include Flavor(s):</h3>
        </div>
        <div class="mdl-card__supporting-text rnnlab-top-text-float">
            {% for flavor in flavors_in_logs %}
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="flavor_id{{ loop.index0 }}">
                    <input type="checkbox" id="flavor_id{{ loop.index0 }}" class="mdl-checkbox__input"
                           name="summary_flavors" value="{{ flavor }}" form="form-flavors">
                    <span class="mdl-checkbox__label">{{ flavor }}{% if flavor in summary_flavors %}
                        (on){% endif %}</span>
                </label>
            {% endfor %}
        </div>
    </div>
    <div class="rnnlab-top-text-float">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">Include Hostname(s):</h3>
        </div>
        <div class="mdl-card__supporting-text rnnlab-top-text-float">
            {% for hostname in hostnames %}
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="hostname_id{{ loop.index0 }}">
                    <input type="checkbox" id="hostname_id{{ loop.index0 }}" class="mdl-checkbox__input"
                           name="summary_hostnames" value="{{ hostname }}" form="form-hostnames">
                    <span class="mdl-checkbox__label">{{ hostname }}{% if hostname in summary_hostnames %}
                        (on){% endif %}</span>
                </label>
            {% endfor %}
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <div class="rnnlab-top-btn-float">
            <input type="submit" name="summary_flavors-new" class="mdl-button"
                   value="Update Flavors" form="form-flavors">
        </div>
        <div class="rnnlab-top-btn-float">
            <input type="submit" name="summary_hostnames-new" class="mdl-button"
                   value="Update Hostnames" form="form-hostnames">
        </div>
    </div>
{% endblock %}

{% block rnnlabmiddle %}
    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">{{ imgs_desc }}</h3>
    </div>
    <div class="containstable">
        {% for group_table in group_tables %}
            {{ group_table |safe }}
        {% endfor %}
    </div>
{% endblock %}

{% block rnnlabbottom %}
    <script type='text/javascript'>
        $(document).ready(function () {
            $('.rnnlab-bottom').hide();
        });
    </script>
{% endblock %}

