
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

a {
    text-decoration: None;
}

.ludwigviz-layout {
    background-color: #f3f3f3;
}

#title {
    color: white;;
}
#version {
    margin: 20px;
    overflow: hidden;
    max-height: 20px;
    color: white;
}

.ludwigviz-top, .ludwigviz-middle, .ludwigviz-bottom {
    margin: 10px auto;
    min-width: 768px;
}

.ludwigviz-middle {
    padding-bottom: 10px;
}

.ludwigviz-top-text-float {
    width: 300px;
    display: inline-grid;
}

.ludwigviz-top-btn-float {
    display: inline-grid;
    margin-right: 140px;
}

.ludwigviz-img {
    display:block;
}

table {
    border: 0 !important;
    margin: auto;
}

div.containstable {
    overflow-x: auto;
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
}

.blockedradio {
    display: block;
}

.inlineradio {
    display: inline-block;
    padding: 0px 5px;
}