{% extends "layout.html" %}

{% block rnnlabtop %}
    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Error {{ status_code }}</h3>
    </div>
    <div class="mdl-card__supporting-text">
        <p><span style="color:red">{{ exception.message }}<span style="color:red"></p>
    </div>
{% endblock %}

{% block rnnlabmiddle %}
    <script type='text/javascript'>
        $(document).ready(function () {
            $('.rnnlab-middle').hide();
        });
    </script>
{% endblock %}

{% block rnnlabbottom %}
    <script type='text/javascript'>
        $(document).ready(function () {
            $('.rnnlab-bottom').hide();
        });
    </script>
{% endblock %}