{% extends "layout.html" %}

{% block ludwigviztop %}
    <a href="{{ url_for('btns', model_name=model_name) }}">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">
                {{ model_name }} @ timepoint {{ timepoint }} | {{ hub_mode }}
            </h3>
        </div>
    </a>
    <div class="mdl-card__supporting-text">
        <a href="{{ url_for('delete_one', model_name=model_name) }}" class="mdl-button">delete</a>
        <a href="{{ url_for('generate', model_name=model_name) }}" class="mdl-button">generate</a>
        <a href="{{ url_for('export_neighbors', model_name=model_name) }}" class="mdl-button">export neighbors</a>
        <a href="{{ url_for('export_acts', model_name=model_name) }}" class="mdl-button">export word vectors</a>
        <a href="{{ url_for('export_pca_loadings', model_name=model_name) }}" class="mdl-button">export pca</a>
    </div>
{% endblock %}

{% block ludwigvizmiddle %}
    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">{{ imgs_desc }}</h3>
    </div>
    <div class="mdl-card__supporting-text">
        <form action="{{ url_for('field', model_name=model_name, btn_name=btn_name) }}">
            <div class="mdl-textfield mdl-js-textfield ">
                {{ form.field(type='text', class='mdl-textfield__input')|safe }}
            </div>
        </form>
        {% if form.field.errors %}
            {% for error in form.field.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
    <script type='text/javascript'>
        $(document).ready(function() {
            $.ajax({url: '{{ url_for("autocomplete") }}'}).done(
                function (data) {
                    $('#field').autocomplete({
                        source: data.json_list,
                        minLength: 1
                    });
                });
        });
    </script>
{% endblock %}

{% block ludwigvizbottom %}
    <script type='text/javascript'>
        $(document).ready(function () {
            $('.ludwigviz-bottom').hide();
        });
    </script>
{% endblock %}

