{% extends "layout.html" %}

{% block ludwigviztop %}
    <a href="{{ url_for('param_name', param_name=param_name) }}">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">
                {{ param_name }} | n={{ num_reps }}
            </h3>
        </div>
    </a>
    <div class="mdl-card__supporting-text">
        <a href="{{ url_for('delete_one', model_name=param_name) }}" class="mdl-button">delete</a>
        <a href="{{ url_for('generate', model_name=param_name) }}" class="mdl-button">generate</a>
        <a href="{{ url_for('export_neighbors', model_name=param_name) }}" class="mdl-button">export neighbors</a>
        <a href="{{ url_for('export_acts', model_name=param_name) }}" class="mdl-button">export word vectors</a>
        <a href="{{ url_for('export_pca_loadings', model_name=param_name) }}" class="mdl-button">export pca</a>
    </div>
{% endblock %}

{% block ludwigvizmiddle %}
    {% for img in imgs %}
        <img src="data:image/png;base64,{{ img }}" class="ludwigviz-img">
    {% endfor %}
{% endblock %}

{% block ludwigvizbottom %}
    <script type='text/javascript'>
        $(document).ready(function () {
            $('.ludwigviz-bottom').hide();
        });
    </script>
{% endblock %}

