{% extends "layout.html" %}

{% block ludwigviz_top %}
    <a href="{{ url_for('images', project_name=project_name, param_name=param_name) }}">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">
                <b>{{ project_name }}</b> | Param={{ param_id }} | n={{ num_reps }}
            </h3>
        </div>
    </a>
    <div class="mdl-card__supporting-text">
        <a href="{{ url_for('images', project_name=project_name, param_name=param_name) }}"
           class="mdl-button">Re-load</a>
        <a href="{{ url_for('project', project_name=project_name) }}"
           class="mdl-button">Back</a>
    </div>
{% endblock %}

{% block ludwigviz_middle %}

    {% for json_chart in json_charts %}
        <div id="chart_id_{{ loop.index0 }}" class="altair-chart"></div>
        <script type="text/javascript">
            (function(vegaEmbed) {
                var spec = {{ json_chart | tojson }};
                var embedOpt = {"mode": "vega-lite"};

                function showError(el, error){
                    el.innerHTML = ('<div class="error" style="color:red;">'
                        + '<p>JavaScript Error: ' + error.message + '</p>'
                        + "<p>This usually means there's a typo in your chart specification. "
                        + "See the javascript console for the full traceback.</p>"
                        + '</div>');
                    throw error;
                }
                const el = document.getElementById('chart_id_{{ loop.index0 }}');
                vegaEmbed("#chart_id_{{ loop.index0 }}", spec, embedOpt)
                    .catch(error => showError(el, error));
            })(vegaEmbed);
        </script>
    {% endfor %}

{% endblock %}

{% block ludwigviz_bottom %}
    <script type='text/javascript'>
        $(document).ready(function () {
            $('.ludwigviz_bottom').hide();
        });
    </script>
{% endblock %}

