{% extends "layout.html" %}

{% block rnnlabtop %}
    <a href="{{ url_for('btns', model_name=model_name) }}">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">
                {{ model_name }} @ timepoint {{ timepoint }} | {{ hub_mode }}
            </h3>
        </div>
    </a>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <a href="{{ url_for('delete_one', model_name=model_name) }}" class="mdl-button">delete model</a>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <a href="{{ url_for('generate', model_name=model_name) }}" class="mdl-button">generate terms</a>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <a href="{{ url_for('show_windows', model_name=model_name) }}" class="mdl-button">show windows</a>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <a href="{{ url_for('export_neighbors', model_name=model_name) }}" class="mdl-button">export neighbors</a>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <a href="{{ url_for('export_acts', model_name=model_name) }}" class="mdl-button">export word vectors</a>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <a href="{{ url_for('export_pca_loadings', model_name=model_name) }}" class="mdl-button">export pca</a>
        </div>
    </div>
{% endblock %}

{% block rnnlabmiddle %}
    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Show Windows for Probe:</h3>
    </div>
    <div class="mdl-card__supporting-text">
        <form action="{{ url_for('show_windows', model_name=model_name) }}" id="form-probe">
            <div class="mdl-textfield mdl-js-textfield ">
                {{ form.field(type='text', class='mdl-textfield__input')|safe }}
            </div>
        </form>
        {% if form.field.errors %}
            {% for error in form.field.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
        {% endif %}
        {% for windows_table in windows_tables %}
            <p>{{ windows_table|safe }}</p>
        {% endfor %}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <input type="submit" name="probe-new" class="mdl-button" value="Show Windows" form="form-probe">
    </div>

{% endblock %}

{% block rnnlabbottom %}
    <script type='text/javascript'>
        $(document).ready(function () {
            $('.rnnlab-bottom').hide();
        });
    </script>
{% endblock %}
